*
	box-sizing: border-box
body
	font-family: "Open Sans", sans-serif
	margin: 0
	.wrap
		padding-top: 70px
		width: inherit
		//clear: both
		// Max-width container that holds main and aside elements
		.content
			width: inherit
			main
				//background: rgba(225, 243, 234, .11)
				flex-grow: 1
				.container
					max-width: 1440px
					margin: auto
					padding: 0
				.row
					margin: 0
					width: inherit
