*
	box-sizing: border-box
body
	background: rgba(0, 0, 0, .02)
	font-family: "Open Sans", sans-serif
	margin: 0
	.wrap.container
		padding-top: 20px
		main
			background: white
			section
				padding: 10px 20px
				//display: flex
				width: 100%
