*
	box-sizing: border-box
body
	font-family: "Open Sans", sans-serif
	margin: 0
	.wrap.container
		padding-top: 20px
		.content.row
			main
				//background: rgba(225, 243, 234, .11)
				background: #fafafa
				section
					padding: 20px 0
					//background: yellow
					.container
						max-width: 1400px
						margin: auto
				section#top
					padding-top: 60px
				section#middle
					background: white
