header.banner
	background: white
	height: 50px
	width: 100%
	padding: 0 20px
	color: #66574A
	box-sizing: border-box
	border-top: solid 4px rgba(242, 135, 163, .5)
	box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, ..5)
	z-index: 1
	margin-bottom: 10px
	position: fixed
	text-transform: capitalize
	.container
		height: 100%
		display: flex
		justify-content: space-between
		align-items: center
		.brand
			text-decoration: none
			font-size: 22px
			color: #66574A
		.nav-primary
			width: 400px
			ul
				width: auto
				text-align: center
				list-style: none
				display: flex
				justify-content: space-around
				width: 400px
				text-align: center
				li
					text-align: center
				a
				  color: #66574A
				  text-transform: capitalize
				  text-decoration: none
