#featured-image-bg
	height: 420px
	width: 100%
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	margin-bottom: 94px


.content
	//max-width: 1200px
	//padding: 10px
	margin: auto
	display: flex
	flex-wrap: wrap
	main
		flex-grow: 1
		order: 2

		article.active-post
			max-width: 700px
			margin: auto
			padding: 0 10px

			header
				.entry-meta
					color: $grey
					display: flex

					p
						padding-left: 25px

					a
						color: $grey

				h1.entry-title
					font-size: 28px
					font-family: "Crimson Text", serif
					font-weight: 600
					line-height: 36px

			main
				color: #343434
				p
					font-size: 15px
					font-weight: 300
					line-height: 20px
					padding: 10px 0

				p:first-of-type
					font-size: 16px
					font-weight: 400
					margin-top: 35px
			footer
				display: none

			section#comments

				#respond
					h3#reply-title
					form
						p.comment-notes
						p.comment-form-comment
						p.comment-form-author
						p.comment-form-email
						p.comment-form-url
						p.form-submit

	aside.sidebar
		order: 1
