@media (max-width: 1053px)
	aside
		display: none

aside
	order: 2
	font-family: "Crimson Text", serif
	width: 180px
	position: relative
	top: 150px
	height: auto
	@media (min-width: 851px) and (max-width: 1000px)
		margin-right: 40px
		left: 10px
	@media (min-width: 1001px)
		margin-right: 80px
		left: 80px
	@media (min-width: 1300px)
		margin-right: 50px
		left: 150px
	section
		margin: 20px 0 50px 0
		transition: ease-in-out .5s
		h3
			background: $brand-primary
			text-transform: capitalize
			color: white
			font-size: 16px
			font-weight: 600
			text-align: center
			height: 34px
			padding-top: 8px
			border-radius: 1px
		ul
			list-style: none
			padding-left: 15px
			a
				color: black
				text-decoration: none
				font-size: 18px
	// now reading, animated block
	section.widget_text
		border-left: solid 2px $brand-primary
		padding: 1px 0 10px 10px
		margin-bottom: 100px
		h3
			display: none
		.textwidget
			.now-reading-title
				font-weight: 600
				font-size: 16px
			.now-reading-meta, .byline
				color: $grey
				font-weight: 300
			.byline a
				color: $grey

	.widget_recent_entries
		ul li
				padding: 15px 0
				font-weight: 500
				display: flex
				flex-direction: column
				a
					font-size: 16px
					order: 2
				span.post-date
					color: $grey
					font-size: 12px
					font-weight: 300
					font-family: 'Open Sans', sans-serif
					margin-bottom: 8px

	section
		ul
			padding-left: 0
